$base-black: #474747;
$base-white: #ffffff;
$base-blue: #2823fb;
$input-hover-grey: #f3f7ff;
$grey-text-color: #98a4c5;
$input-field-border: #d5e0ff;

.select_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 314px;
}

.hidden_label {
  display: none;
}

.user_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: $base-white;
  color: $base-black;
  padding: 10px;
  justify-content: space-between;
  font-size: 16px;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 8px 18px #e0e2ee;
  cursor: pointer;
}

.user_element {
  &:focus {
    outline: none;
    border: 1px solid $base-blue;
  }
  &.active_user {
    background: $input-hover-grey;
    border-radius: 4px;
  }
}

.text {
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 5px;
}

.sub_text {
  padding: 0 10px;
  margin-top: 0;
  font-size: 14px;
  color: $grey-text-color;
}

.highlighted_text {
  font-weight: 700;
}

.no_results {
  font-style: italic;
  padding: 20px 0;
  color: $grey-text-color;
}

.input_container {
  position: relative;
  &.focused_searchbar {
    outline: 1px $base-blue;
  }
}

// style used to hide label from user but making sure its present for wcag
.aux {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input_field {
  border-radius: 4px;
  padding: 5px 5px 5px 40px;
  color: $base-black;
  font-size: 16px;
  border: 0;
  background: transparent;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  min-height: 56px;
  align-items: center;
  background: $input-hover-grey;
  border: 1px solid $input-field-border;
  border-radius: 4px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 1px $base-blue;
    border-radius: 4px;
  }
}

.placeholder_text {
  color: $grey-text-color;
}
