.select_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 356px;
}

.hidden_label {
  display: none;
}

.user_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: #ffffff;
  font-weight: 200;
  color: black;
  padding: 10px;
  justify-content: space-between;
  font-size: 16px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(40, 35, 251, 0.1);
  .user_element {
    &.active_user {
      background: #f3f7ff;
      border-radius: 5px;
    }
  }
  .text {
    padding: 0 10px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .sub_text {
    padding: 0 10px;
    margin-top: 0;
    font-size: 14px;
    color: #98a4c5;
  }
  .highlighted_text {
    font-weight: 700;
  }
  .no_results {
    font-style: italic;
    padding: 20px 0;
    color: #98a4c5;
  }
}

.input_container {
  position: relative;
  &.focused_searchbar {
    outline: 1px #2823fb;
  }
  .aux {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  .input_field {
    border-radius: 3px;
    padding: 5px 5px 5px 40px;
    color: #474747;
    font-size: 16px;
    border: 0;
    background: transparent;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    min-height: 56px;
    align-items: center;
    background: #f3f7ff;
    border-radius: 5px;
  }
  .placeholder_text {
    color: #98a4c5;
  }
}
